<footer>
  <span>Copyright &copy; Dylon Crowley-Perez 2024</span>
  <a href="https://github.com/dmychel/message-board" target="_blank">Github</a>
  <a href="https://DylonCrowley.dev" target="_blank">Portfolio</a>
  <a href="/feedback-form">Feedback</a>
</footer>