<section class="form-container">
  <form action="/" method="POST">
    <div class="text">
      <input type="text" placeholder="name" name="user" />
      <textarea placeholder="post here" name="body" class="post-body" required cols="30" rows="3"></textarea>
    </div>
    <button type="submit"><img src="/imgs/send.png" alt="Send"></button>
  </form>
</section>