<section class="form-container">
  <form action="/" method="POST">
    <div class="username">
      <input type="text" placeholder="name" name="user" />
    </div>
    <div class="post-body-div">
      <input type="text" placeholder="post here" name="body" class="post-body" required />
      <input type="submit" class="submit" value="submit" />
    </div>
  </form>
</section>