<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <section class="feedback">
        <form action="/feedback-form" method="POST">
          <label>Your feedback is most welcome</label>
          <input type="text" placeholder="name (optional)" name="name" />
          <input type="text" name="email" placeholder="youremail@mail.com (optional)">
          <textarea name="body" cols="30" rows="10" placeholder='feedback here' dirname="/feedback-form"></textarea>
          <input type="submit" class="submit" value="submit" />
        </form>
      </section>

      <%- include('./partials/footer') %>
  </body>

</html>z