<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="/">
          <h1>Message Board</h1>
        </a>
      </nav>
    </header>
    <main>
      <section class="fourm">
        <% if(messages.length > 0) { %> <% messages.forEach(message => { %>
        <div class="post">
          <div class="profile">
            <div class="name">
              <h3><%= message.user%></h3>
            </div>
          </div>

          <div class="user-info"></div>

          <div class="message">
            <div class="message-info"><%= message.date%></div>
            <div class="message">
              <p><%= message.message%></p>
            </div>
          </div>
        </div>

        <% }) %> <% } %>
      </section>
    </main>
  </body>
</html>
