* {
  margin: 0;
  padding: 0;
}

header {
  padding: 8px;
}

main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 8px;
  margin-left: 5%;
  margin-right: 5%;
}

.posts-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  gap: 0.5em;
  width: 100%;
  padding: 8px;
  overflow-y: scroll;
  border: 2px solid;
}

.post {
  display: flex;
  width: 100%;
  height: fit-content;
}

.profile {
  width: 15%;
  border: 1px solid;
  padding: 8px;
}

.message-container {
  width: 100%;
  border: 1px solid;
  padding: 8px;
}

.form-container {
  border: 2px solid;
  width: 100%;
  padding: 8px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border: 1px solid;
  padding: 8px;
}

.post-body-div {
  display: flex;
  align-items: center;
  border: 1px solid;
  width: 100%;
}

.submit {
  width: fit-content;
}

.post-body {
  width: 90%;
  padding: 8px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: linear-gradient(#667ea5, #78b0f2);
  width: 100%;
}

footer span {
  padding: 15px;
}
/* link styling */
a {
  color: blue;
}

a:hover {
  color: white;
}

a:visited {
  color: blue;
}
